<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon Application Symfony{% endblock %}</title>
</head>
<body>
<header>
    <h1>Bienvenue dans l'application Symfony</h1>
    <nav>
        <a href="{{ path('app_etudiant_list') }}">Liste Étudiants</a> |
        <a href="{{ path('app_etudiant_affecter') }}">Affecter Module</a>
    </nav>
</header>

<hr>

<main>
    {% block body %}{% endblock %}
</main>

<hr>

<footer>
    <p>&copy; 2025 - TEK-UP</p>
</footer>
</body>
</html>
